[submodule "3rdpty/sources/IonCachyEngine"]
	path = 3rdpty/sources/IonCachyEngine
	url = https://github.com/xiangCaO233/IonCachyEngine.git
	branch = main
[submodule "3rdpty/sources/imgui"]
	path = 3rdpty/sources/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdpty/sources/glfw"]
	path = 3rdpty/sources/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "3rdpty/sources/sol2"]
	path = 3rdpty/sources/sol2
	url = https://github.com/ThePhD/sol2.git
	branch = develop
[submodule "3rdpty/sources/luajit"]
	path = 3rdpty/sources/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = v2.1
[submodule "3rdpty/sources/freetype"]
	path = 3rdpty/sources/freetype
	url = https://github.com/freetype/freetype.git
	branch = master
[submodule "3rdpty/sources/glm"]
	path = 3rdpty/sources/glm
	url = https://github.com/icaven/glm.git
	branch = master
